<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>Pejabat Pemerintahan</title>
</head>

<body>
  <header class="bg-gray-200 drop-shadow-lg text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
       <a href="index.php"> <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="http://2.bp.blogspot.com/-Iw1R4Q9NTJM/U6Q5fdwgOyI/AAAAAAAAAII/ngbOQhwJhHc/s1600/LOGO+DPR-RI.png"></a>
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a href="index.php" class="mr-3 hover:text-gray-900 hover:no-underline">HOME</a>
        <a href="details.php" class="mr-3 hover:text-gray-900 hover:no-underline">DETAILS</a>
      </nav>
      dataEditSave
    </div>
  </header>

  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-12">
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">DIVISI</span>
          <div class="mt-3 w-full flex-shrink-0 flex flex-col text-start leading-none">
            DATA_DIVISI
          </div>
        </div>
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">BIDANG</span>
          <div class="mt-3 w-full flex-shrink-0 flex flex-col text-start leading-none">
            DATA_BIDANG
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="relative">
    DATA_POPUP
  </div>

  <script src="/KULIAH/SEMESTER 4/DPBO/TUGAS DPBO/TP2/assets/pemerintah.js"></script>

</body>

</html>